.App {
    text-align: center;
    background-image: url('../public/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.app-title{
    color: white;
    font-size: 36px;
}

p, span{
    font-weight: bold;
}

.datepicker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.datepicker-month-year>span {
    font-size: 20px;
}

.datepicker-inline-calendar {
    display: flex;
}

.date-selected {
    font-weight: bold;
}

.datepicker-inline-calendar>button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

.datepicker-inline-calendar>button:hover {
    background-color: gainsboro;
}

.datepicker-warning{
    display: flex;
    align-items: center;
    color: red;
}

.datepicker-warning>p{
    margin-left: 1em;
    margin-right: 1em;
}


.clothes, .weather, .datepicker{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .5) ;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

.clothes-body, .clothes-accessoire{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 320px;
    justify-content: center;
    align-items: center;
}


.clothe, .weather-info-element{
    padding: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: fit-content;
    border-radius: 10px;
}

.clothe>img{
    min-width: 100px;
    min-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.weather-info{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.weather-info-element{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.weather-temperature>p, .weather-min>p, .weather-max>p, .weather-wind>p{
    font-size: 20px;
    font-weight: bold;
}

.weather-min, .weather-max{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-weather>img{
    margin-top: 1em;
    margin-bottom: 1em;
}
